body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.post-card{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.2s ease;
    cursor: pointer;
}

.post-image{
    width: 200px;
    height: 200px;
    transition: 0.2s ease;
    object-fit:contain;
}

.post-content{
    padding: 20px;
}

.post-title{
    margin-top: 0;
    margin-bottom: 10px;
    color: #2d3748;
}
.post-excerpt{
    margin-bottom: 0;
    color: #718096;
    line-height: 1.6;
    transition: 0s none;
}

.post-card:hover{
    padding: 15px;
    background-color: rgb(255, 230, 0);
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
}

.post-card:active{
    background-color: rgb(255, 0, 0);

    & h2,p{
        color: white;
        transition: none;
    }
    
}

@media screen and (max-width:800px){
    .post-card{
        flex-direction: column;
    }
}